body {
   background-color: whitesmoke; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.profile div {
    background-color: azure;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    max-height: 210px;
    overflow-y: scroll;
    overflow-x: scroll;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.graphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.graphs div {
  background-color: azure;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  max-height: 420px;
  overflow: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile div h2 {
   text-align: center;
}

/* .bar {
    fill: red;
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
  } */
  .bar text {
    color: black;
  }

  .bar text:hover {
    fill: rgb(228, 12, 12);
    translate: 10%;
    transition: translate .3s ease;
    
  }
  
  
  figcaption {
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
  }

  circle:hover {
      fill: rgb(228, 12, 12);
  }
